<launch>
	<node name="input" pkg="maniros" type="test_input.py" output="screen"/>
	<node name="adapter" pkg="maniros" type="control_adapter.py" output="screen"/>
	<node name="servo_controller" pkg="maniros" type="servo_controller.py" output="screen">
		<param name="servo1_min" type="int" value="100" />
		<param name="servo1_max" type="int" value="300" />
	</node>
</launch>